{% comment %} {% extends "base.html" %}
{% load i18n static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% csrf_token %}
<div class="max-w-md mx-auto bg-white p-8 rounded-xl shadow">

<h2 class="text-xl font-bold">Dashboard</h2>

<button onclick="logout()" class="bg-red-600 text-white p-2 rounded mt-4">
Logout
</button>

</div>

<script>
function getCSRFToken() {
    return document.cookie
        .split("; ")
        .find(row => row.startsWith("csrftoken"))
        ?.split("=")[1];
}
console.log("Access:", localStorage.getItem("access"));
console.log("Refresh:", localStorage.getItem("refresh"));
async function logout(){

const { res } = await apiRequest(
    "/api/accounts/logout/",
    "POST",
    {
        refresh: localStorage.getItem("refresh")
    }
);

if(res && res.ok){
    localStorage.clear()
    location.href="/api/accounts/login-page/"
}
}
</script>

{% endblock %} {% endcomment %}